@CHARSET "UTF-8";
body{
    background-color: #FFE7B8;
    color: #FFBF3E;
    }
    
h1{
    color: #000000;
    }
    
hyperlink elements{
    color : #8259AF;
    }
    
   

h2 {
  color: blue;
}

p {
  color: orange;
}

em {
  color: green;
}

.byline{
    color: red; 
    color: rgba(255,255,255,0.5)
}
.page-copyrigh{
    color:#8259AF
}